#footer{
}
.ticker {
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

.ticker li{
  font-size: 8rem;
  font-weight: bold;
  color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}
.ticker .img-wrapper{
  width: 111px;
  margin: 0 20px;
}
.ticker .img-wrapper img{
  width: 100%;
  vertical-align: middle;
}


.social-media{
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.social-media ul{
  width: 88vw;
  display: flex;
  justify-content: space-between;
}
.social-media li{
  color: #000;
  list-style: none;
  font-size: 20pt;
}
.social-media li a{
  color: black;
  text-decoration: none;
  font-family: 'Oswald';
}
.social-media li a:hover{
  text-decoration: underline;
}
